main{
    height: 900px;
    background-color: #fff;
}
main h1{
    color: var(--light-purple-color)
}
main .container{
    margin-top: 60px;
}
main .main-containers{
    display: flex;
    gap: 20px;
}
.main-left-container img{
    margin-right: 40px;
    margin-left: 30px;
}
.main-left-container .line{
    background-color: var(--blue-2-color);
    height: 3px;
    width: 100%;
}


.main-right-top{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-text-container{
    width: 80%;
}
.main-text-container p{
    font-size: 15px;
    word-wrap: break-word;
}
.main-text-container span{
    color: var(--light-purple-color);
    font-weight: 550;
}
.price{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.price h1 span{
    font-size: 40px;
}
.price h1{
    font-size: 25px;
}
.price h5{
    padding-top: 25px;
    font-size: 15px;
}


.main-right-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-color);
    border-bottom-right-radius: 20px;
    height: 400px;
}
.inputs-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.input-container{
    height: 20px;
    display: flex;
    height: 40px;
}
.input-container label{
    height: 100%;
    width: 28%;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
}
.input-container input{
    background-color: #fff;
    border-radius: 0;
    border: none;
    border-bottom-right-radius: 10px;
    width: 72%;
    height: 100%;
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    gap: 40px;
}
.summary-container{
    width: 85%;
    display: flex;
    gap: 10px;
}
.summary-container h3{
    color: var(--light-purple-color);
}
.summary-container p, .summary-container i, .summary-container hr{
    color: var(--blue-color)
}
.summary-container hr{
    width: 100%;
    margin-bottom: 15px;
}
.add-cart-summary i{
    font-size: 18px;
}
.add-cart-summary i:last-of-type{
    font-size: 25px;
}
.summary-right-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
}
.add-cart-summary{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cart-summary-icons{
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-cart-summary p{
    cursor: pointer;
}
.add-cart-summary p:hover{
    color: var(--blue-2-color);
}
button{
    background: none;
    border: none;
}